<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="index.js"></script>
    <title>Document</title>
</head>
<body>
    <h2>HomePage</h2>
    <script defer src="../index.js"></script>
    <script src="../sharedModule.js"></script>
    <script src="../clientApp.js"></script>
    <h2>HTML Forms</h2>
<div class="container">
<form method="POST" action="/home/files" class="addinputs x1">
  <label for="username">Username:</label>
  <input type="text" id="username" name="username">
  <label for="password">Password:</label>
  <input type="text" id="password" name="password">
  

 
  <button id = "btnDelete" class = "delete">Delete</button>
  <button id = "btnAdd">Add</button> 
  <button id = "submit" onclick="Function()">Submit</button>
</form> 
  
</div>
<form method = "POST" action = "/files">
  <a href = "/ABCD">View</a>
</form>
<script src="https://code.jquery.com/jquery-latest.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script>
    var i=1;
    $(function () {
      $("#btnAdd").bind("click", function () {
        var div = $(`<form method = "POST" actions = "/home" class="x${i}">`);
        div.html(GetDynamicTextBox(""));
        i++;
        $(".container").append(div);
      });
      $("#btnDelete").on("click", ".delete", function () {
        $(this).removeClass(`x${i}`);
        i--;
      });
    });
    function GetDynamicTextBox(value) {
      return (`<form method="POST" action="/home/files" class="x${i}">` +
        '<label for="username">Username:</label>' +
        '<input type="text" id="username" name="username">' +
        value +
        '<label for="password">Password:</label>'+
  '<input type="text" id="password" name="password">' +
      
  '<button id = "submit">Submit</button>'+
  '<button id = "btnDelete" class = "delete">Delete</button>'+ '</form>'
 
      );
    }
  </script>


</body>

</html>